<h3> List of Reports: </h3>
<br>

<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">All Request With Offers</span>
    <p><%= link_to "Download", '/supports/offer_requests.csv' %><p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span class="title">All Request With No Offers</span>
    <p><%= link_to "Download", '/supports/no_offer_requests.csv' %></p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Requests With No Offers Below 10,000(15 days from now)</span>
    <p><%= link_to "Download", '/supports/requests_nooffers_10000.csv' %></p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span class="title">Requests With No Offers Between 10,000 to 15,000(15 days from now)</span>
    <p> <%= link_to "Download", '/supports/requests_nooffers_10_15.csv' %></p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Requests With No Offers above 15,000(15 days from now)</span>
    <p><%= link_to "Download", '/supports/requests_nooffers_15000.csv' %></p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Requests With Awating Measurements(7 days from now)</span>
    <p><%= link_to "Download", '/supports/awating_meas.csv' %></p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>