<% if support_signed_in? %>
  <% if current_support.role == "admin" %>
	  <li><%= link_to 'Users', support_users_path %></li>
	  <li><%= link_to 'Designers', support_designers_path %></li>
	  <li><%= link_to 'Requests', support_requests_path %></li>
	  <li><%= link_to 'Orders', support_orders_path %></li>
	  <li><%= link_to 'Push Notification', push_token_path %></li>
	<% end %>
  <li><%= link_to 'Log Out', destroy_support_session_path, :method => 'delete' %></li>
<% else  %>
  <li><%= link_to 'Sign Up', new_support_registration_path %></li>
  <li><%= link_to 'Sign In', new_support_session_path %></li>
<% end %>
