<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">


			.container {
			    border: none;
			    border-radius: 5px;
			    padding: 10px;
			    width: 100%;
			}	

			.darker {
			    border-color: #ccc;
			    background-color: #edeff8;
			    width:80%;
			    float:right;
			    margin-top: 10px;
			    word-wrap: break-word;
			}

			.time-right {
			    float: right;
			    color: #aaa;
			    margin-top: -10px;
			}

			.time-left {
			    float: left;
			    color: #999;
			    margin-top: -10px;
			}

			.footer {
		   position: fixed;
		   left: 0;
		   bottom: 0;
		   width: 100%;
		   background-color: #f2f2f2;
		   color: black;
		   text-align: center;
			}

			.navbar {
		  overflow: hidden;
		  background-color: #4d3d65;
		  position: fixed;
		  color: white;
		  text-align: center;
		  top: 0;
		  width: 105%;
		  margin-left: -7%;
			}

			#thumb
			{
				width: 40%;
				margin-top: 10px;
				margin-bottom: 10px;
				border: 2px solid grey;
			}

			.image_cont
			{
				 width:80%;
			}
			@media screen and (max-width: 699px)
				{
						p{ font-size: 10px; }

						.container 
						{
							border: none;
						}
				}


		</style>
		

		
	</head>
	<body>
		<div class="navbar">
		  <% if (Order.where(id:@convo_id.receiver_id).present?) || (Request.where(id:@convo_id.receiver_id).present?) || (OfferQuotation.where(id:@convo_id.receiver_id).present?)  %>
		    <h5><%= Order.where(id:@convo_id.receiver_id).first.offer_quotation.offer.request.name rescue nil %></h5>
		    <h5><%= Request.where(id:@convo_id.receiver_id).first.name rescue nil %></h5>
		    <h5><%= OfferQuotation.where(id:@convo_id.receiver_id).first.offer.request.name rescue nil %></h5>
			<% else %>
				<h5><%= User.where(id:@convo_id.conversationable_id).first.full_name rescue nil %></h5>
		    <h5><%= Designer.where(id:@convo_id.conversationable_id).first.full_name rescue nil %></h5>  
			<% end %>
		</div>



  	<div class="row" id="conversation_section">
      <div class="col m1 hide-on-small-only"></div>
      <div class="col m10">
      	<br><br><br>
				<% Conversation.find(@convo_id.id).messages.order(created_at: :desc).each do |f| %>
					
					<% if f.sender_id == current_support.common_id %>
						<% if f.body.present? %>
							<div class="container darker">
								<p><%= f.body %></p>
								<span class="time-right"><%= f.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y %H:%M:%S%p") %></span>
							</div>
						<% end %>
						<% if f.attachment.present? %>
							<div class="image_cont" style="float:right">
								<a data-fancybox="gallery" href="<%= f.attachment.url %>"><img src="<%= f.attachment.url %>" id="thumb"><span style="color: #aaa; margin-top: -10px;"><%= f.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y %H:%M:%S%p") %></span></a>
							</div>
						<% end %>
					<% else %>
						<% if f.body.present? %>
							<div class="container" style="width:80%;float:left;background:#ffe3a4;margin-top: 10px;word-wrap:break-word;">
								<p style=""><%= f.body %></p>
								<span class="time-right"><%= f.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y %H:%M:%S%p") %></span>
							</div>
						<% end %>
						<% if f.attachment.present? %>
							<div class="image_cont" style="float:left">
								<a data-fancybox="gallery" href="<%= f.attachment.url %>"><img src="<%= f.attachment.url %>" id="thumb"><span style="color: #aaa; margin-top: -10px;"><%= f.created_at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%d/%m/%Y %H:%M:%S%p") %></span></a>
							</div>
						<% end %>
					<% end %>
				<% end %>
      </div>
      <div class="col m1 hide-on-small-only"></div>
    </div>
    
    <div class="row">
    	<br><br><br><br><br>
    </div>
    
    <div class="footer">
	    <div class="row">
		    <div class="col s1"></div>
		    <div class="col s9">
			    <%= form_for @message, :url => chat_post_path, :html => {:method => :post} do |f| %>
			  		<div class="col s9">
			  			<br>
			  			<%= f.text_field :body, width:"100" %>
			    		<%= f.file_field :attachment %>
			    		<%= f.hidden_field :conversation_id, value:@convo_id.id %>
			  		</div>
			  		<div class="col s3">
			  			<br>
			  			<%= f.submit "SEND", class: "waves-effect waves-light btn" %>
			  		</div>
			  	<% end %>
			</div>
		  	<div class="col s2"></div>
		</div>  	
	</div>         
	</body>
</html>




	

