<div class="vertical-spacer-5"></div>
<div class="row">
  <h5 class="center">Requests</h5>

  <table class="highlight">
    <thead>
      <tr>
        <th colspan="2" class="center">Name</th>
        <th colspan="1" class="center">User</th>
        <th colspan="1" class="center">Status</th>
        <th colspan="1" class="center">Timeline for User</th>
        <th colspan="1" class="center">Sub Category</th>
        <th colspan="1" class="center">Number of Designers</th>
        <th colspan="1" class="center">Number of Offers</th>
        <th colspan="1" class="center">Approve</th>
        <th colspan="1" class="center">Reject</th>
        <th colspan="1" class="center">Request Chat</th>
        <th colspan="1" class="center">General</th> 
      </tr>
    </thead>
    <tbody>
      <% @requests.order(created_at: :desc).each do |request| %>
        <tr>
          <td colspan="2" class="center"><%= link_to request.name, support_request_path(request) %></td>

          <td colspan="1" class="center"><%= link_to request.user.full_name, support_user_path(request.user) %></td>

          <td colspan="1" class="center"><%= request.status.humanize %></td>

          <td colspan="1" class="center"><%= "#{request.timeline} weeks" %></td>

          <td colspan="1" class="center">
            <%= request.sub_category.name %>
          </td>

          <td colspan="1" class="center">
            <%= request.request_designers.size %>
          </td>

          <td colspan="1" class="center">
            <%= request.offers.size %>
          </td>

          <td colspan="1" class="center">
            <%= link_to '#approve-request', id: request.id, remote: true do %>
            <div class='btn btn-floating teal <%= approve_button?(request) %>' id="js-approve-request">
              <i class="material-icons" data-id=<%= request.id %>>check</i>
            </div>
          <% end %>
          </td>

          <td colspan="1" class="center">
            <%= link_to '#reject-request', id: request.id, remote: true do %>
            <div class='btn btn-floating orange <%= reject_button?(request) %>' id="js-reject-request">
              <i class="material-icons" data-id=<%= request.id %>>block</i>
            </div>
          <% end %>
          </td>

          <td colspan="1" class="center">
            <% if Conversation.where(receiver_id:request.id,conversationable_type: "User").first.present? %>
              <%= link_to "Request",
              chat_path(Conversation.where(receiver_id:request.id,conversationable_type: "User").first.id), 
              :onclick=>"window.open(this.href,'chat', 'height=500, width=500');return false;" rescue nil
              %>
            <% else %>
              <%= form_for @conversation, :url => support_conversation_path, :html => {:method => :post} do |f| %>
                <%= f.hidden_field :receiver_id , value:request.id %>
                <%= f.hidden_field :receiver_type , value:"request" %>
                <%= f.hidden_field :conversationable_id , value:request.user.id %>
                <%= f.hidden_field :conversationable_type , value:"User" %>
                <%= f.submit "Request" , class:"waves-effect waves-light btn" %>
              <% end %>
            <% end %>
          </td>

          <td colspan="1" class="center">
            <% if Conversation.where(receiver_type:"support", conversationable_id:request.user, conversationable_type: "User" ).first.present? %>
              <%= link_to "General",
              chat_path(Conversation.where(receiver_type:"support", conversationable_id:request.user, conversationable_type: "User" ).first.id), 
              :onclick=>"window.open(this.href,'chat', 'height=500, width=500');return false;" rescue nil
              %>
            <% else %>
              <%= form_for @conversation, :url => support_conversation_path, :html => {:method => :post} do |f| %>
                <%= f.hidden_field :receiver_id , value:current_support.id %>
                <%= f.hidden_field :receiver_type , value:"support" %>
                <%= f.hidden_field :conversationable_id , value:request.user.id %>
                <%= f.hidden_field :conversationable_type , value:"User" %>
                <%= f.submit "General" , class:"waves-effect waves-light btn" %>
              <% end %>
            <% end %>
          </td>

          <!-- <td colspan="1" class="center"> 
            <%= link_to 'Chat',
            chat_path(Conversation.where(receiver_id:request,conversationable_type: "User").first.id), 
            :onclick=>"window.open(this.href,'chat', 'height=500, width=500');return false;" rescue nil
            %>
          </td> -->

        </tr>
      <% end %>
    </tbody>
  </table>
</div>


