<div class="vertical-spacer-5"></div>
<div class="row">
  <h5 class="center">Requests</h5>

  <%= will_paginate @requests %>
  <table class="highlight">
    <thead>
      <tr>
        <th colspan="2" class="center">Name</th>
        <th colspan="1" class="center">User</th>
        <% if current_support.role == "admin" %>
          <th colspan="1" class="center">Phone</th>
        <% end %>
        <th colspan="1" class="center">Budget</th>
        <th colspan="1" class="center">Timeline for User</th>
        <th colspan="1" class="center">Sub Category</th>
        <th colspan="1" class="center">Number of Designers</th>
        <th colspan="1" class="center">Number of Offers</th>
        <th colspan="1" class="center">Approve</th>
        <th colspan="1" class="center">Reject</th>
        <th colspan="2" class="right">Behaviour</th>
        <th colspan="1" class="center">Update</th>
        <!-- <th colspan="1" class="center">General</th> -->
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <%#<% conv_support = @convo.where(conversationable_id:request.user).first %>
        <tr>
          <td colspan="2" class="center"><%= link_to request.name, support_request_path(request) %></td>

          <td colspan="1" class="center"><%= link_to request.user.full_name, support_user_path(request.user) %></td>

          <% if current_support.role == "admin" %>
            <td colspan="1" class="center"><%= request.user.mobile_number rescue nil %></td>
          <% end %>
          
          <td colspan="1" class="center"><%= request.max_budget&.round %></td>

          <td colspan="1" class="center"><%= "#{request.timeline} weeks" %></td>

          <td colspan="1" class="center">
            <%= request.sub_category.name %>
          </td>

          <td colspan="1" class="center">
            <%= request.request_designers.size %>
          </td>

          <td colspan="1" class="center">
            <%= request.offers.size %>
          </td>

          <td colspan="1" class="center">
            <%= link_to '#approve-request', id: request.id, remote: true do %>
            <div class='btn btn-floating teal <%= approve_button?(request) %>' id="js-approve-request">
              <i class="material-icons" data-id=<%= request.id %>>check</i>
            </div>
          <% end %>
          </td>

          <td colspan="1" class="center">
            <%= link_to '#reject-request', id: request.id, remote: true do %>
            <div class='btn btn-floating orange <%= reject_button?(request) %>' id="js-reject-request">
              <i class="material-icons" data-id=<%= request.id %>>block</i>
            </div>
          <% end %>
          </td>

          <td colspan="2" class="right">
            <%= form_for request, :url => support_request_path(request), remote: true do |f| %>
            <%= f.check_box :hot, id:"hot", class: "product-list"%><label for="hot" style="color:green">Hot?</label><br>
            <%= f.check_box :cold, id:"cold", class: "product-list" %><label for="cold" style="color:red">Cold?</label><br>
            <%= f.check_box :warm, id:"warm", class: "product-list"  %><label for="warm" style="color:#eaa508">Warm?</label>
          </td>
          <td colspan="1" class="center">
              <%= f.submit %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @requests %>
