<div class="vertical-spacer-5"></div>

<!-- <div class="row">
  <% @request.request_images.each do |request_image| %>
    <div class="col s6 m4 l3">
      <%= image_tag request_image.image_url rescue nil %>
    </div>
  <% end %>
</div> -->

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center" style="word-spacing:500px">Details <%= link_to "Chat", chat_path(Conversation.where(receiver_id:@request).first.id) rescue nil %> </h5>

        <p class="card-stats-title">Name:
          <b><%= @request.name %></b>
        </p>
        <p class="card-stats-title">Category:
          <b><%= @request.sub_category.name %></b>
        </p>
        <p class="card-stats-title">Sent on:
          <b><%= @request.created_at.strftime('%d %b %Y') %></b>
        </p>
        <p class="card-stats-title">Username:
          <b><%= link_to @request.user.username, support_user_path(@request.user) %></b>
        </p>
        <p class="card-stats-title">Size:
          <b><%= @request.size.upcase %></b>
        </p>
        <p class="card-stats-title">Shipping address:
          <b><%= @request.address.formatted_address %></b>
        </p>
        <p class="card-stats-title">Budget:
          <b><%= @request.max_budget&.round %></b>
        </p>
        <p class="card-stats-title">Offers Count:
          <b><%= @request.offers.size %></b>
        </p>
        <p class="card-stats-title">Designers:
          <b><%= RequestDesigner.joins(designer: :designer_store_info).where(request: @request).pluck(:display_name).to_sentence %></b>
        </p>
      </div>
    </div>
  </div>
</div>



<% if (@request.offers.size > 0) %>

  <div class="row">
    <h5 class="center">Offers</h5>
    <table class="highlight">
      <thead>        
        <tr>
          
          <th colspan="4" class="center">Designer Name</th>
          <th colspan="1" class="center">Quotes</th>
      </thead>
      <tbody>
        <tr>
          <% @request.offers.each do |off| %>
            <% Designer.where(id:off.designer_id).each do |des_name| %>
              <td colspan="4" class="center"><%= des_name.full_name  %></td>
              <td colspan="1" class="center"><%= link_to OfferQuotation.where(offer_id:off).count, quoation_path(@request)  %></td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

<% else %>
  <h5>No offers yet</h5>
<% end %>

