<div class="vertical-spacer-5"></div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center" style="word-spacing:500px">
          Details 
          <% if @convo.present? %>
            <%= link_to image_tag("chat.png", width:"30x30"),
            chat_path(@convo.id), :target => "_blank"%>
          <% else %>
            <%= form_for @conversation, :url => support_conversation_path, :html => {:method => :post} do |f| %>
              <%= f.hidden_field :receiver_id , value:current_support.common_id %>
              <%= f.hidden_field :receiver_type , value:"support" %>
              <%= f.hidden_field :conversationable_id , value:@request.user.id %>
              <%= f.hidden_field :conversationable_type , value:"User" %>
              <%= f.submit "Initiate" , class:"waves-effect waves-light btn" %>
            <% end %>
          <% end %> 
        </h5>

        
        <p class="card-stats-title">Name:
          <b><%= @request.name %></b>
        </p>
        <p class="card-stats-title">Category:
          <b><%= @request.sub_category.name %></b>
        </p>
        <p class="card-stats-title">Sent on:
          <b><%= @request.created_at.strftime('%d %b %Y') %></b>
        </p>
        <p class="card-stats-title">Username:
          <b><%= link_to @request.user.username, support_user_path(@request.user) %></b>
        </p>
        <p class="card-stats-title">Size:
          <b><%= @request.size.upcase %></b>
        </p>          
        <%= form_for @request, :url => support_request_path(@request), method: :get do |f| %>
          <p class="card-stats-title">Description:
            <%= f.text_field :description, value:@request.description %>
          </p>
          <p class="card-stats-title">Budget:
            <%= f.text_field :max_budget, value:@request.max_budget %>
          </p>
          <%= f.submit "Update" %>
          <br><br>
        <% end %>
        
        <p class="card-stats-title">Shipping address:
          <b><%= @request.address.formatted_address %></b>
        </p>
        <p class="card-stats-title">
          <b><%= @request.max_budget&.round %></b>
        </p>
        <p class="card-stats-title">Offers Count:
          <b><%= @request.offers.size %></b>
        </p>
        <p class="card-stats-title">Designers:
          <b><%= RequestDesigner.joins(designer: :designer_store_info).where(request: @request).pluck(:display_name).to_sentence %></b>
        </p>
        <b>Request Image:</b>
        <p class="card-stats-title">
          <% @request.request_images.each do |req_image| %>
            <a data-fancybox="gallery" href="<%= req_image.image_url %>"><img src="<%= req_image.image_url %>" id="thumb"></a>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>


<% if (@request.offers.size > 0) %>

  <div class="row">
    <h5 class="center">Offers</h5>
    <table class="highlight">
      <thead>        
        <tr>
          
          <th colspan="4" class="center">Designer Name</th>
          <th colspan="1" class="center">Quotes</th>
      </thead>
      <tbody>
        <tr>
          <% @request.offers.each do |off| %>
            <td colspan="4" class="center"><%= off.designer.full_name  %></td>
            <td colspan="1" class="center" id="offer_quote"><%=  off.offer_quotations.count %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

<% else %>
  <h5>No offers yet</h5>
<% end %>



<div class="col s12 m6 l6", id="collapse_offer">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <% @request.offers.each do |off| %>
        <% off.offer_quotations.each do |offquo| %> 
          <div class="collapsible-header active">
            <a href="#">Quote Details</a>
          </div>

          <div class="collapsible-body">
            <ul class="collection">             
              <li class="collection-item">Price: <b><%= offquo.price %></b></li>
              <li class="collection-item">Description: <b><%= offquo.description %></b></li>
              <li class="collection-item">Designer Note: <b><%= offquo.designer_note %></b></li> 
              <li class="collection-item">Shipping Price: <b><%= offquo.shipping_price %></b></li> 
              <% offquo.offer_measurements.each do |offmeas| %>
                <li class="collection-item">Offer Measurement: <b><%= offmeas.data.map{|k,v| "#{k}=#{v}"}.join('&').strip %></b></li>
              <% end %>
              <li class="collection-item">
                <% offquo.offer_quotation_galleries.each do |offgall| %>
                  <% Image.where(imageable_id:offgall).each do |gallery_image| %>            
                    <a data-fancybox="gallery" href="<%= gallery_image.image_url %>"><img src="<%= gallery_image.image_url %>" id="thumb"></a>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>      
    </li>
  </ul>
</div>
  

<style type="text/css">
  #thumb
  {
    margin-right: 25px;
  }
  .collapsible-header > a > #chatbutton
  {
    text-align: right;
  }
</style>
