<div class="vertical-spacer-5"></div>

<div class="row">
  <% @request.request_images.each do |request_image| %>
    <div class="col s6 m4 l3">
      <%= image_tag request_image.image_url rescue nil %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center">Details</h5>
        <p class="card-stats-title">Name:
          <b><%= @request.name %></b>
        </p>
        <p class="card-stats-title">Category:
          <b><%= @request.sub_category.name %></b>
        </p>
        <p class="card-stats-title">Sent on:
          <b><%= @request.created_at.strftime('%d %b %Y') %></b>
        </p>
        <p class="card-stats-title">Username:
          <b><%= link_to @request.user.username, support_user_path(@request.user) %></b>
        </p>
        <p class="card-stats-title">Size:
          <b><%= @request.size.upcase %></b>
        </p>
        <p class="card-stats-title">Shipping address:
          <b><%= @request.address.formatted_address %></b>
        </p>
        <p class="card-stats-title">Budget:
          <b><%= @request.max_budget&.round %></b>
        </p>
        <p class="card-stats-title">Offers Count:
          <b><%= @request.offers.size %></b>
        </p>
        <p class="card-stats-title">Designers:
          <b><%= RequestDesigner.joins(designer: :designer_store_info).where(request: @request).pluck(:display_name).to_sentence %></b>
        </p>
      </div>
    </div>
  </div>
</div>


<% if (@request.offers.size > 0) %>

  <!-- Offers List -->
  <div class="row">
    <h5 class="center">Offers</h5>

    <table class="highlight">
      <thead>
        <tr>
          <th colspan="4" class="center">Offer ID</th>
          <th colspan="1" class="center">Price</th>
          <th colspan="1" class="center">Description</th>
          <th colspan="1" class="center">Designer Note</th>
          <th colspan="1" class="center">Measurements</th>
          <th colspan="1" class="center">Gallery Name</th>
          <th colspan="1" class="center">Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @request.offers.each do |off| %>
            <td colspan="4" class="center"><%= off.id %></td>
            <% OfferQuotation.where(offer_id:off).each do |offquo| %>
              <td colspan="1" class="center"><%= offquo.price %></td>
              <td colspan="1" class="center"><%= offquo.description %></td>
              <td colspan="1" class="center"><%= offquo.designer_note %></td>
              <% OfferMeasurement.where(offer_quotation_id:offquo).each do |offmeas| %>
                <td colspan="1" class="center"><%= offmeas.data.map{|k,v| "#{k}=#{v}"}.join('&') %></td>
              <% end %>
              <% OfferQuotationGallery.where(offer_quotation_id:offquo).each do |offgall| %>
                <td colspan="1" class="center"><%= offgall.name %></td>
              <% end %>
            <% end %>
            <td colspan="1" class="center"><%= off.created_at.strftime('%d %B %Y') %></td>
            <%= image_tag @reqest.request_image.image_url , size:"50x50" %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

<% else %>
  <h5>No offers yet</h5>
<% end %>