<div class="vertical-spacer-5"></div>
<div class="row">
  <h5 class="center">Orders</h5>

  <table class="highlight">
    <thead>
      <tr>
        <th colspan="2" class="center">Order ID</th>
        <th colspan="1" class="center">User</th>
        <th colspan="1" class="center">Request Name</th>
        <th colspan="1" class="center">Designer Name</th>
        <th colspan="1" class="center">Designer Email</th>
        <th colspan="1" class="center">Order Created</th>
        <th colspan="1" class="center">Status</th>
        <th colspan="2" class="center">Update Order</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.order(created_at: :desc).each do |order| %>
        <tr>
          <td colspan="2" class="center"><%= order.order_id %></td>

          <td colspan="1" class="center"><%= order.user.username %></td>

          <td colspan="1" class="center"><%= order.offer_quotation.offer.request.name %></td>

          <td colspan="1" class="center"><%= order.designer.full_name %></td>

          <td colspan="1" class="center">
            <%= order.designer.email %>
          </td>

          <td colspan="1" class="center">
            <%= order.created_at.strftime('%d %B %Y') %>
          </td>

          <td colspan="1" class="center">
            <%= order.status %>
          </td>

          <td colspan="2" class="center">
            <%= form_for order, :url => support_orders_path(order), method: :get do |f| %>
              <%= f.submit 'Ship_To_QC', name:"commit" %>
              <%= f.submit 'Delivered_To_QC', name:"commit" %>
              <%= f.submit 'In_QC', name:"commit" %>
              <%= f.submit 'Ship_To_User', name:"commit" %>
              <%= f.submit 'Deliver_To_User', name:"commit" %>
              <%= f.submit 'Reject', name:"commit" %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>


