<!-- Orders Information -->
<br>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center">
          <%=@order.offer_quotation.offer.request.name %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% if @convo.present? %>
            <%= link_to image_tag("chat.png", width:"30x30"),
            chat_path(@convo.id), :target => "_blank"%>
          <% else %>
            <%= form_for @conversation, :url => support_conversation_path, :html => {:method => :post} do |f| %>
              <%= f.hidden_field :receiver_id , value:current_support.common_id %>
              <%= f.hidden_field :receiver_type , value:"support" %>
              <%= f.hidden_field :conversationable_id , value:@order.user.id %>
              <%= f.hidden_field :conversationable_type , value:"User" %>
              <%= f.submit "General" , class:"waves-effect waves-light btn" %>
            <% end %>
          <% end %> 
        </h5>
        <p class="card-stats-title">Order ID:
          <b><%= @order.id %></b>
        </p>
        <p class="card-stats-title">Order Username:
          <b><%= @order.user.username %></b>
        </p>
        <p class="card-stats-title">Order Unique ID:
          <b><%= @order.order_id %></b>
        </p>
        <p class="card-stats-title">Status:
          <b><%= @order.status.humanize %></b>
        </p>
        <p class="card-stats-title">Request Name:
          <b><%= @order.offer_quotation.offer.request.name %></b>
        </p>
        <p class="card-stats-title">Request Size:
          <b><%= @order.offer_quotation.offer.request.size %></b>
        </p>
        <p class="card-stats-title">Request Timeline:
          <b><%= @order.offer_quotation.offer.request.timeline %></b>
        </p>
        <p class="card-stats-title">Request Budget:
          <b><%= @order.offer_quotation.offer.request.max_budget %></b>
        </p>
        <p class="card-stats-title">Designer Name:
          <b><%= @order.designer.full_name %></b>
        </p>
        <% if current_support.role == "admin" %>
          <p class="card-stats-title">Designer Email:
            <b><%= @order.designer.email %></b>
          </p>
          <p class="card-stats-title">Designer Mobile:
            <b><%= @order.designer.mobile_number %></b>
          </p>
        <% end %>
        <p class="card-stats-title">Designers Store:
          <b><%= @order.designer.designer_store_info.display_name %></b>
        </p>
        <p class="card-stats-title">Order Created:
          <b><%= @order.created_at.strftime('%d %B %Y') %></b>
        </p>
        <% if @order.order_measurement.present? %>
          <p class="card-stats-title">Order Measurement:
            <b><%= @order.order_measurement.data.map{|k,v| "#{k}=#{v}"}.join('&') %></b>
          </p>
        <% end %>

        <b>Request Image:</b>
        <p class="card-stats-title">
          <% @order.offer_quotation.offer.request.request_images.each do |req_image| %>
            <a data-fancybox="gallery" href="<%= req_image.image_url %>"><img src="<%= req_image.image_url %>" id="thumb"></a>
          <% end %>
        </p>
        </p>
        <% if OrderOption.where(order_id:@order).present? %>
          <b>User Selected: </b>
        <% end %>
        <p class="card-stats-title">
          <% OrderOption.where(order_id:@order).each do |p| %>  
              <a data-fancybox="gallery" href="<%= p.image.image_url rescue nil %>"><img src="<%= p.image.image_url rescue nil %>" id="thumb"></a>
          <% end %>
        </p>

      </div>
    </div>
  </div>
</div>


