
<br><button class="waves-effect waves-light btn quotation_button">Click Here To Create a New Quotation</button><br>
<div class="card" id="quotation" style="display:none">
	<br>
	<h4 class="center">New Quotation</h4>
	<%= form_for @offer_quotation, :url => support_offer_quotation_path(@offer.id) do |f| %>
		<%= f.label :price %>
		<%= f.text_field :price  %><br>
		<%= f.label :description %>
		<%= f.text_field :description %><br>
		<%= f.hidden_field :offer_id, value:@offer.id %>
		<%= f.fields_for :offer_quotation_gallery do |ff| %>
			<%= ff.label :gallery_name %>
			<%= ff.text_field :name  %><br>
			<%= ff.fields_for :image do |image| %>
				<%= image.file_field :image, multiple: true %><br>
			<% end %>
		<% end %>
		<br>
		<%= f.submit "Create", class: "waves-effect waves-light btn" %>
	<% end %>
	<br>
</div>

<% @offer_quotations.each_with_index do |offquo, index| %>
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s12" style="text-align:center;"><h5><b>Quotation <%= index + 1 %></b></h5></div>
					</div>
					<%= form_for offquo, :url => support_offer_update_path(@offer) do |f| %>
						<p class="card-stats-title">Price:
							<b><%= f.text_field :price %></b>
						</p>
						<p class="card-stats-title">Description:
							<b><%= f.text_field :description %></b>
						</p>
						<p class="card-stats-title">Designer Note:
							<b><%= f.text_field :designer_note %></b>
						</p>
						<%= f.submit "Update Quotation" %>
					<% end %>
					<p class="card-stats-title">Offer Measurement:
				  	<% offquo.offer_measurements.each do |offmeas| %>
				  		<%= form_for offmeas, :url => support_offer_update_path(@offer)  do |f| %>
				  			<b><%= f.text_field :data %></b>
				  			<%= f.submit "Update Measurement" %>
				  		<% end %>
				  	<% end %>
					</p>
					<b><h5><u>Galleries:</u></h5></b>
					<% offquo.offer_quotation_galleries.each do |offgall| %>  	
				  	<p class="card-stats-title"><%= offgall.name %></p>
				  	<p class="card-stats-title">
				  		<% offgall.images.each do |gallery_image| %>            
				      	<a data-fancybox="gallery" href="<%= gallery_image.image_url %>"><img src="<%= gallery_image.image_url %>" id="thumb"></a>
				  		<% end %> 	
				  	</p>
				  	<%= form_for @image, :url => gallery_images_path, :html => {:method => :post} do |f| %>
						  <%= f.hidden_field :imageable_id, value:offgall.id %>
						  <%= f.hidden_field :imageable_type, value:"OfferQuotationGallery" %>
						  <%= f.file_field :image %>
						  <%= f.submit "Update Gallery" %>
						<% end %>
				  <% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(".quotation_button").click(function(){
    $("#quotation").toggle();
	});
</script>
