<div class="row">
  <div class="col s12">
    <div class="input-field">
      <input id="js-name-fuzzy" type="text" class="validate" placeholder="Enter the details of the designer" autofocus>
    </div>
  </div>
</div>

<div class="row">
  <table class="highlight">
    <thead>
      <tr>
        <th colspan="4" class="center">Full Name</th>
        <th colspan="2" class="center">Store Name</th>
        <% if current_support.role == "admin" %>
          <th colspan="2" class="center">Mobile Number</th>
          <th colspan="1" class="center">Email</th>
        <% end %>
        <th colspan="1" class="center">Number of products</th>
        <th colspan="1" class="center">Number of Offers Sent</th>
        <th colspan="1" class="center">Requests Recieved</th>
        <th colspan="1" class="center">Orders Recieved</th>
        <th colspan="1" class="center">Chat</th>
        <!-- <th colspan="1" class="center">Message Count</th>
        <th colspan="1" class="center">Unread Count</th> -->

      </tr>
    </thead>
    <tbody>
      <% designers.each do |designer| %>
        <% con =  @convo.where(conversationable_id:designer).first %>
        <tr id="js-data-row">
          <td colspan="4" class="center"><%= link_to designer.full_name.titleize, support_designer_path(designer) %></td>

          <td colspan="2" class="center">
            <%= designer.designer_store_info&.display_name %>
          </td>
          <% if current_support.role == "admin" %>
            <td colspan="2" class="center"><%= designer.mobile_number %></td>

            <td colspan="1" class="center">
              <%= designer.email %>
            </td>
          <% end %>

          <td colspan="1" class="center">
            <%= designer.products.size %>
          </td>

          <td colspan="1" class="center">
            <%= designer.requests.includes(:offers).where.not( :offers => { :request_id => nil } ).count %>
          </td>  
          <td colspan="1" class="center">
            <%= designer.requests.size %>
          </td>

          <td colspan="1" class="center">
            <%= designer.orders.size %>
          </td>

          <td colspan="1" class="center">
            <% if con.present? %>
              <%= link_to image_tag("chat.png", width:"30x30"),
                chat_path(con.id), :target => "_blank"%>
            <% else %>
              <%= form_for @conversation, :url => support_conversation_path, :html => {:method => :post} do |f| %>
                <%= f.hidden_field :receiver_id , value:current_support.common_id %>
                <%= f.hidden_field :receiver_type , value:"support" %>
                <%= f.hidden_field :conversationable_id , value:designer.id %>
                <%= f.hidden_field :conversationable_type , value:"Designer" %>
                <%= f.submit "Initiate Chat" , class:"waves-effect waves-light btn" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
