<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center">Designer Details</h5>
        <p class="card-stats-title">Designer ID:
          <b><%= @designer.id rescue nil %></b>
        </p>
        <p class="card-stats-title">Full Name:
          <b><%= @designer.full_name rescue nil %></b>
        </p>
        <p class="card-stats-title">Email:
          <b><%= @designer.email rescue nil %></b>
        </p>
        <p class="card-stats-title">Mobile:
          <b><%= @designer.mobile_number rescue nil %></b>
        </p>
        <p class="card-stats-title">Location:
          <b><%= @designer.location rescue nil %></b>
        </p>
        <p class="card-stats-title">Bio:
          <b>
            <% if @designer.bio.present? %>
              <%= @designer.bio %>
            <% else %>
              No Bio Avaliable
            <% end %>    
          </b>
        </p>
        <p class="card-stats-title">Store Name:
          <b><%= @designer.designer_store_info.display_name rescue nil %></b>
        </p>
        <p class="card-stats-title">City / State / Country:
          <b><%= @designer.designer_store_info.city rescue nil %><%= @designer.designer_store_info.state rescue nil %>/ <%= @designer.designer_store_info.country rescue nil %></b>
        </p>
        <p class="card-stats-title">Number of Products:
          <b><%= @designer.products.size rescue nil %></b>
        </p>
        <p class="card-stats-title">Total Request Count:
          <b><%= @designer.requests.size rescue nil %></b>
        </p>
        <p class="card-stats-title">Total Orders:
          <b><%= @designer.orders.size rescue nil %></b>
        </p>
      </div>
    </div>
  </div>

  <!-- Orders and Requests -->
  <div class="col s12 m6 l6">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">
          <a href="#">Orders</a>
        </div>

        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <%= "Unpaid (#{@designer.orders.where(status: :started).size})" %>
            </li>
            <li class="collection-item">
              <%= "Paid (#{@designer.orders.where(status: :paid).size})" %>
            </li>
            <li class="collection-item">
              <%= "Designer Confirmed (#{@designer.orders.where(status: :designer_confirmed).size})" %>
            </li>
            <li class="collection-item">
              <%= "User Awaiting More Options (#{@designer.orders.where(status: :user_awaiting_more_options).size})" %>
            </li>
            <li class="collection-item">
              <%= "Designer Gave More Options (#{@designer.orders.where(status: :designer_gave_more_options).size})" %>
            </li>
            <li class="collection-item">
              <%= "Designer Selected Fabric Unavailable (#{@designer.orders.where(status: :designer_selected_fabric_unavailable).size})" %>
            </li>
            <li class="collection-item">
              <%= "Measurements Given (#{@designer.orders.where(status: :measurements_given).size})" %>
            </li>
            <li class="collection-item">
              <%= "In Production (#{@designer.orders.where(status: :in_production).size})" %>
            </li>
            <li class="collection-item">
              <%= "Shipped to QC (#{@designer.orders.where(status: :shipped_to_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= "Delivered to QC (#{@designer.orders.where(status: :delivered_to_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= "In QC (#{@designer.orders.where(status: :in_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= "Shipped to User (#{@designer.orders.where(status: :shipped_to_user).size})" %>
            </li>
            <li class="collection-item">
              <%= "Delivered to User (#{@designer.orders.where(status: :delivered_to_user).size})" %>
            </li>
            <li class="collection-item">
              <%= "Cancelled by User (#{@designer.orders.where(status: :delivered_to_user).size})" %>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          <a href="#">Requests</a>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <%= "Active (#{@designer.requests.where(status: :active).size})" %>
            </li>
            <li class="collection-item">
              <%= "Pending (#{@designer.requests.where(status: :pending).size})" %>
            </li>
            <li class="collection-item">
              <%= "Unapproved (#{@designer.requests.where(status: :unapproved).size})" %>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <a href="#">Products</a>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <% if Product.where(designer_id:@designer).present? %>
              <li class="collection-item">
                Active: <%= Product.where(designer_id:@designer).where(active:true).count %>
              </li>
              <li class="collection-item">
                Inactive: <%= Product.where(designer_id:@designer).where(active:false).count %>
              </li>
            <% else %>
              <li class="collection-item">
                No Product Added
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title" style="text-align:center">
          CHAT : <%= (Support.as_json(@designer).pluck(:unread_message_count) + @designer.as_request_json.pluck(:unread_message_count) + @designer.as_order_json.pluck(:unread_message_count)).inject(0){|sum,x| sum + x }%>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Request List -->

<% if @designer.requests.present? %>
  <div class="row">
    <h5 class="center">Designer Requests</h5>
    <div class="col s12">
      <table class="highlight">
      <thead>
        <tr>
          <th colspan="4" class="center">Name</th>
          <th colspan="1" class="center">Size</th>
          <th colspan="1" class="center">Budget</th>
          <th colspan="1" class="center">Timeline for User</th>
          <th colspan="1" class="center">Timeline for Designer</th>
          <th colspan="1" class="center">Status</th>
          <th colspan="1" class="center">Date</th>
          <th colspan="1" class="center">Offer Status</th>
          <th colspan="1" class="center">Chat</th>
          <th colspan="1" class="center">Message Count</th>
          <th colspan="1" class="center">Unread Count</th>
        </tr>
      </thead>
      <tbody>
        <% @designer.as_request_json.sort {|x,y| y[:unread_message_count]<=>x[:unread_message_count]}.each do |request| %>
          <tr>
            <td colspan="4" class="center"><%= link_to request[:name], support_request_path(request) %></td>

            <td colspan="1" class="center"><%= request[:size].upcase %></td>

            <td colspan="1" class="center"><%= request[:max_budget] %></td>

            <td colspan="1" class="center"><%= "#{request[:timeline]} weeks" %></td>

            <td colspan="1" class="center"><%= "#{request[:timeline] - 2} weeks" %></td>

            <td colspan="1" class="center"><%= request[:status].humanize %></td>
            
            <td colspan="1" class="center"><%= request[:created_at].strftime('%d %B %Y') %> </td>

            <td colspan="1" class="center">
              <% if Offer.where(request_id:request[:id]).present? %>
                Offer Sent
              <% else %>
                Not Sent
              <% end %> 
            </td>

            <td colspan="1" class="center">
              <%= link_to image_tag("chat.png", width:"30x30"),
              chat_path(Conversation.where(receiver_id:request[:id],conversationable_type: "Designer").first.id), 
              :onclick=>"window.open(this.href,'chat', 'height=500, width=500');return false;" rescue nil
              %>
            </td>
            <td colspan="1" class="center"><%= request[:message_count] %></td>
            <td colspan="1" class="center"><%= request[:unread_message_count] %>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h5>No Requests</h5>
<% end %>

<!-- Orders List -->
<% if @designer.orders.present? %>
  <div class="row">
    <h5 class="center">Orders</h5>

    <div class="col s12">
      <table class="highlight">
      <thead>
        <tr>
          <th colspan="4" class="center">Name</th>
          <th colspan="1" class="center">Order ID</th>
          <th colspan="1" class="center">Status</th>
          <th colspan="1" class="center">Designer</th>
          <th colspan="1" class="center">Price</th>
          <th colspan="1" class="center">Ordered On</th>
          <th colspan="1" class="center">Shipping Address</th>
          <th colspan="1" class="center">Chat</th>
          <th colspan="1" class="center">Message Count</th>
          <th colspan="1" class="center">Unread Count</th>
        </tr>
      </thead>
      <tbody>
        <% @designer.as_order_json.sort {|x,y| y[:unread_message_count]<=>x[:unread_message_count]}.each do |order| %>
          <tr>
            <td colspan="4" class="center"><%= link_to Order.find(order[:id]).offer_quotation.offer.request.name, support_show_order_path(order) %></td> 

            <td colspan="1" class="center"><%= order[:order_id] %></td>

            <td colspan="1" class="center"><%= order[:status].humanize %></td>

            <td colspan="1" class="center"><%= Order.find(order[:id]).designer.designer_store_info.display_name %></td>

            <td colspan="1" class="center"><%= Order.find(order[:id]).offer_quotation.price %></td>

            <td colspan="1" class="center"><%= order[:created_at].strftime('%d %B %Y') %></td>

            <td colspan="1" class="center">
              <%= Order.find(order[:id]).offer_quotation.offer.request.address.formatted_address %>
            </td>
            <td colspan="1" class="center">
              <%= link_to image_tag("chat.png", width:"30x30"),
              chat_path(Conversation.where(receiver_id:order[:id], conversationable_type: "Designer").first.id), 
              :onclick=>"window.open(this.href,'chat', 'height=500, width=500');return false;" rescue nil
              %>
            </td>
            <td colspan="1" class="center"><%= order[:message_count] %></td>
            <td colspan="1" class="center"><%= order[:unread_message_count] %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h5>No Orders</h5>
<% end %>


<!-- Product List -->
<% if Product.where(designer_id:@designer).present? %>

  <div class="row">
    <h5 class="center">Products</h5>

    <table class="highlight">
      <thead>
        <tr>
          <th colspan="1" class="center">Name</th>
          <th colspan="1" class="center">Description</th>
          <th colspan="1" class="center">Price</th>
          <th colspan="1" class="center">Status Active</th>
          <th colspan="1" class="center">Date</th>
        </tr>
      </thead>
      <tbody>
        <% Product.where(designer_id:@designer).order(created_at: :desc).each do |product| %>
          <tr>
            <td colspan="1" class="center"><%= link_to product.name, product_path(product) %></td>

            <td colspan="1" class="center"><%= product.description %></td>

            <td colspan="1" class="center"><%= product.selling_price %></td>

            <td colspan="1" class="center">
              <% if product.active == true %>
                Active
              <% else %>
                Inactive
              <% end %>  
            </td>

            <td colspan="1" class="center"><%= product.created_at.strftime('%d %B %Y') %></td>          
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  
  <h5>No Products</h5>
<% end %>

<style type="text/css">
  td.center
  {
    height: 140px;
  }
</style>