

<!-- <div class="row">
  <div class="col s12">
    <div class="input-field">
      <input id="js-user-name-fuzzy" type="text" class="validate" placeholder="Enter the details of the user" autofocus>
    </div>
  </div>
</div> -->

<%= will_paginate users %>
<br>
<%= link_to "Download Page", support_users_path(format: "csv", current_page: @users.current_page ) %>
<br>

<div class="row">
  <table class="highlight">
    <thead>
      <tr>
        <th colspan="1" class="center">Full Name</th>
        <th colspan="1" class="center">Username</th>
        <% if current_support.role == "admin" %>
          <th colspan="1" class="center">Mobile Number</th>
          <th colspan="1" class="center">Email</th>
        <% end %>
        <th colspan="1" class="center">Gender</th>
        <th colspan="1" class="center">Requests made</th>
        <th colspan="1" class="center">Orders made</th>
        <th colspan="2" class="right">Behaviour</th>
        <th colspan="1" class="center">Update</th>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr id="js-data-row">
          <td colspan="1" class="center"><%= link_to user.full_name.titleize, support_user_path(user) %></td>

          <td colspan="1" class="center">
            <%= user.username %>
          </td>
          <% if current_support.role == "admin" %>
            <td colspan="1" class="center"><%= user.mobile_number %></td>

            <td colspan="1" class="center">
              <%= user.email %>
            </td>
          <% end %>

          <td colspan="1" class="center">
            <%= user.gender %>
          </td>

          <td colspan="1" class="center">
            <%= user.requests.size %>
          </td>

          <td colspan="1" class="center">
            <%= user.orders.size %>
          </td>
          <td colspan="2" class="right">
            <%= form_for user, :url => support_user_path(user), remote: true do |f| %>
            <%= f.check_box :hot, id:"hot", class: "product-list"%><label for="hot" style="color:green">Hot?</label><br>
            <%= f.check_box :cold, id:"cold", class: "product-list" %><label for="cold" style="color:red">Cold?</label><br>
            <%= f.check_box :warm, id:"warm", class: "product-list"  %><label for="warm" style="color:#eaa508">Warm?</label>
          </td>
          <td colspan="1" class="center">
              <%= f.submit %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate users %>

<style type="text/css">
  
  #hot:checked + label:before{
  border-right: 2px solid green; /* You need to change the colour here */
  border-bottom: 2px solid green; /* And here */
  }
  #cold:checked + label:before{
  border-right: 2px solid red; /* You need to change the colour here */
  border-bottom: 2px solid red; /* And here */
  }
  
</style>

