<div class="vertical-spacer-5"></div>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center">Profile</h5>
        <p class="card-stats-title">Name:
          <b><%= @user.full_name %></b>
        </p>
        <p class="card-stats-title">Email:
          <b><%= @user.email %></b>
        </p>
        <p class="card-stats-title">Mobile:
          <b><%= @user.mobile_number %></b>
        </p>
        <p class="card-stats-title">Username:
          <b><%= @user.username %></b>
        </p>
        <p class="card-stats-title">Confirmed Email?:
          <b><%= t @user.confirmed? %></b>
        </p>
        <p class="card-stats-title">Verified Number?:
          <b><%= t @user.verified? %></b>
        </p>
        <p class="card-stats-title">Bio:
          <b><%= @user.bio ? @user.bio : 'No bio' %></b>
        </p>
      </div>
    </div>
  </div>

  <div class="col s12 m6 l6">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><a href="#">Orders</a></div>

        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <%= link_to "Unpaid (#{@user.orders.where(status: :started).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Paid (#{@user.orders.where(status: :paid).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Designer Confirmed (#{@user.orders.where(status: :designer_confirmed).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "User Awaiting More Options (#{@user.orders.where(status: :user_awaiting_more_options).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Designer Gave More Options (#{@user.orders.where(status: :designer_gave_more_options).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Designer Selected Fabric Unavailable (#{@user.orders.where(status: :designer_selected_fabric_unavailable).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Measurements Given (#{@user.orders.where(status: :measurements_given).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "In Production (#{@user.orders.where(status: :in_production).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Shipped to QC (#{@user.orders.where(status: :shipped_to_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Delivered to QC (#{@user.orders.where(status: :delivered_to_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "In QC (#{@user.orders.where(status: :in_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Shipped to User (#{@user.orders.where(status: :shipped_to_user).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Delivered to User (#{@user.orders.where(status: :delivered_to_user).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Cancelled by User (#{@user.orders.where(status: :delivered_to_user).size})" %>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header active"><a href="#">Requests</a></div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <%= link_to "Active (#{@user.requests.where(status: :active).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Pending (#{@user.requests.where(status: :pending).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Unapproved (#{@user.requests.where(status: :unapproved).size})" %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
