<div class="vertical-spacer-5"></div>

<!-- Profile -->
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-content">
        <h5 class="card-stats-number center">Profile</h5>
        <p class="card-stats-title">Name:
          <b><%= @user.full_name %></b>
        </p>
        <p class="card-stats-title">Email:
          <b><%= @user.email %></b>
        </p>
        <p class="card-stats-title">Mobile:
          <b><%= @user.mobile_number %></b>
        </p>
        <p class="card-stats-title">Username:
          <b><%= @user.username %></b>
        </p>
        <p class="card-stats-title">Confirmed Email?:
          <b><%= t @user.confirmed? %></b>
        </p>
        <p class="card-stats-title">Verified Number?:
          <b><%= t @user.verified? %></b>
        </p>
        <p class="card-stats-title">Bio:
          <b><%= @user.bio ? @user.bio : 'No bio' %></b>
        </p>
      </div>
    </div>
  </div>

  <!-- Orders and Requests -->
  <div class="col s12 m6 l6">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">
          <a href="#">Orders</a>
        </div>

        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <%= link_to "Unpaid (#{@user.orders.where(status: :started).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Paid (#{@user.orders.where(status: :paid).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Designer Confirmed (#{@user.orders.where(status: :designer_confirmed).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "User Awaiting More Options (#{@user.orders.where(status: :user_awaiting_more_options).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Designer Gave More Options (#{@user.orders.where(status: :designer_gave_more_options).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Designer Selected Fabric Unavailable (#{@user.orders.where(status: :designer_selected_fabric_unavailable).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Measurements Given (#{@user.orders.where(status: :measurements_given).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "In Production (#{@user.orders.where(status: :in_production).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Shipped to QC (#{@user.orders.where(status: :shipped_to_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Delivered to QC (#{@user.orders.where(status: :delivered_to_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "In QC (#{@user.orders.where(status: :in_qc).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Shipped to User (#{@user.orders.where(status: :shipped_to_user).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Delivered to User (#{@user.orders.where(status: :delivered_to_user).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Cancelled by User (#{@user.orders.where(status: :delivered_to_user).size})" %>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header active">
          <a href="#">Requests</a>
        </div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item">
              <%= link_to "Active (#{@user.requests.where(status: :active).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Pending (#{@user.requests.where(status: :pending).size})" %>
            </li>
            <li class="collection-item">
              <%= link_to "Unapproved (#{@user.requests.where(status: :unapproved).size})" %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Requests List -->
<div class="row">
  <h5 class="center">Requests</h5>

  <table class="highlight">
    <thead>
      <tr>
        <th colspan="4" class="center">Name</th>
        <th colspan="1" class="center">Status</th>
        <th colspan="1" class="center">Size</th>
        <th colspan="1" class="center">Timeline for User</th>
        <th colspan="1" class="center">Timeline for Designer</th>
        <th colspan="1" class="center">Sub Category</th>
        <th colspan="1" class="center">Address</th>
        <th colspan="1" class="center">Number of Designers</th>
        <th colspan="1" class="center">Number of Offers</th>
      </tr>
    </thead>
    <tbody>
      <% @user.requests.order(created_at: :desc).each do |request| %>
        <tr>
          <td colspan="4" class="center"><%= link_to request.name, support_request_path(request) %></td>

          <td colspan="1" class="center"><%= request.status.humanize %></td>

          <td colspan="1" class="center"><%= request.size.upcase %></td>

          <td colspan="1" class="center"><%= "#{request.timeline} weeks" %></td>

          <td colspan="1" class="center"><%= "#{request.timeline - 2} weeks" %></td>

          <td colspan="1" class="center">
            <%= request.sub_category.name %>
          </td>

          <td colspan="1" class="center">
            <%= request.address.formatted_address %>
          </td>

          <td colspan="1" class="center">
            <%= request.request_designers.size %>
          </td>

          <td colspan="1" class="center">
            <%= request.offers.size %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Orders List -->
<div class="row">
  <h5 class="center">Orders</h5>

  <table class="highlight">
    <thead>
      <tr>
        <th colspan="4" class="center">Name</th>
        <th colspan="1" class="center">Order ID</th>
        <th colspan="1" class="center">Status</th>
        <th colspan="1" class="center">Designer</th>
        <th colspan="1" class="center">Price</th>
        <th colspan="1" class="center">Ordered On</th>
        <th colspan="1" class="center">Time to deliver</th>
        <th colspan="1" class="center">Shipping Address</th>
      </tr>
    </thead>
    <tbody>
      <% @user.orders.order(created_at: :desc).each do |order| %>
        <tr>
          <td colspan="4" class="center"><%= link_to order.offer_quotation.offer.request.name, support_order_path(order) %></td> 

          <td colspan="1" class="center"><%= order.order_id %></td>

          <td colspan="1" class="center"><%= order.status.humanize %></td>

          <td colspan="1" class="center"><%= order.designer.designer_store_info.display_name %></td>

          <td colspan="1" class="center"><%= order.offer_quotation.price %></td>

          <td colspan="1" class="center"><%= order.created_at.strftime('%d %B %Y') %></td>

          <td colspan="1" class="center"><%= time_to_deliver(order) %></td>

          <td colspan="1" class="center">
            <%= order.offer_quotation.offer.request.address.formatted_address %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
